.background_main_color {
  background-color: #edf2f7;
}

.background_secondary_color {
  background-color: #ffffff;
}

.text_main_color {
  color: #e6e5e8;
}

.text_secondary_color {
  color: #edf2f7;
}
